@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:300,800&subset=latin,cyrillic);








/**
  * FONTS
  */
  
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	line-height: 16pt;
}

header h2,
#login h2,
h3 {
	font-size: 30pt;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	font-family: 'Poiret One', sans-serif;
}

label {
	font-weight: normal;
}

::-webkit-input-placeholder {
   color: #999;
   font-size: 12pt;
}

:-moz-placeholder {
   color: #999; 
   font-size: 12pt;
}

::-moz-placeholder {
   color: #999;
   font-size: 12pt;
}

:-ms-input-placeholder {  
   color: #999;
   font-size: 12pt;
}

select.header,
header nav:not(.breadcrumb) a span,
h2 a,
nav li a,
button {
	font-size: 20pt;
	font-weight: bold;
}

.coverLayout h2 {
	font-size: 31pt;
}

a,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}








/**
  * HELPERS
  * Out and clip are used to hide accessibility text.
  */
  
.out {
	height: 1px;
	width: 1px;
	position: absolute;
	top: auto;
	left: -10000px;
	overflow: hidden;
}

.clip {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}








/**
  * FOCUS & ACTIVE
  */

button.select:focus,
button.select:hover,
a.create:focus,
a.create:hover,
.file:focus,
.file:hover,
.file input:focus,
.file input:hover,
select.header:focus,
select.header:hover,
button:focus,
button:hover,
button:first-child:focus,
button:first-child:hover,
.Add > button:last-child:focus,
.Add > button:last-child:hover,
header a:focus,
header a:hover,
.breadcrumb a.active,
h2.active a,
h2 a:focus,
h2 a:hover,
nav a:focus,
nav a:hover {
	cursor: pointer;
	background-color: #C7B299;
	outline: none;
}

.breadcrumb a:hover:after,
.breadcrumb a:focus:after,
main h2 a:hover:after,
main h2 a:focus:after,
header.compact h1 a:hover:after,
header.compact h1 a:focus:after {
	border-color: transparent transparent transparent #C7B299;
}











/**
  * COLORS
  */

h3 {
	color: #666666;
}

a:focus {
	outline: 2px solid #D9E021;
}

header h2,
.select-subtitle,
a:focus,
a:hover,
a:visited,
.breadcrumb a span,
h2 a span {
	color: #D9E021;
}

.select-svg path,
svg path {
	fill: #D9E021;
}

.create svg path,
.search svg path {
	fill: #000000;
}

select.header,
footer,
footer a,
h2 a,
h2 a:focus,
h2 a:hover,
h2 a:visited,
header a,
header a:focus,
header a:hover,
header a:visited,
nav li a,
nav li a:focus,
nav li a:hover,
nav li a:visited {
	color: #FFF;
}

[role=option] label,
select.header,
body,
header a,
nav li a {
	background-color: #666666;
}

.breadcrumb {
	background-color: rgba(102, 102, 102, 0.7);
}

.breadcrumb a:after,
header.compact h1 a:after {
	border-color: transparent transparent transparent #666666;
}

.breadcrumb a.active:after,
main h2.active a:after {
	border-color: transparent transparent transparent #C7B299;
}

button {
	background-color: #CCC;
	border: none;
}

button.select,
button.search,
a.create,
.file,
.Add > button:last-child,
button:first-child {
	background-color: #D9E021;
}

[role=option] img,
form {
	background-color: #E6E6E6;
}








/**
  * SPACING
  */

.hidden i,
header svg,
nav svg {
	margin-right: 10px;
}

.hidden b,
form .two-cols select,
form .two-cols input[type=date] {
	margin-right: 20px;
}

[role=option] p,
.hidden b,
.hidden,
form input[type=text],
form input[type=password],
header a,
nav li a {
	padding: 10px;
}

header h2,
.coverLayout,
.Window,
.Add button.add,
.Add button.remove,
select.header,
form,
.breadcrumb a, 
main h2 a,
[role=toolbar] button,
footer {
	padding: 20px;
}

.breadcrumb a,
main h2 a {
	padding-bottom: 10px;
}

form label span {
	margin-bottom: 10px;
}

#images li:first-child,
div[role=group] label {
	margin-bottom: 0;
}

.Cover,
#images li,
section#login h2,
h3,
.hidden,
.Window h2 span,
.Add .file,
form input,
form select {
	margin-bottom: 20px;
}

.select-subtitle {
	padding-left: 20px;
} 

section#login h2,
h3 {
	margin-top: 40px;
}









/**
  * LAYOUT
  */

*,
header h1,
main h2 {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

main {
	width: 100%;
}

main,
main h2,
section {
	float: left;
}

main h3 {
	float: left;
	clear: both;
	width: 100%;
}

header {
	float: left;
	width: 100%;
}

header [role=toolbar] {
	float: none;
	position: relative;
	text-align: right;
}

header [role=toolbar] button {
	float: none;
	margin: 0;
	top: auto;
	position: relative;
	width: auto;
	height: 84px;
	display: inline-block;
}

header nav {
	width: 50%;
	float: left;
}

main nav {
	width: 100%;
	float: left;
}

nav ul {
	width: 100%;
	float: left;
}

header svg,
nav svg {
	width: 64px;
	height: 64px;
}

nav li {
	width: 100%;
	float: left;
	display: block;
}

header svg,
header a,
nav svg,
nav a {
	float: left;
}

header a {
	display: block;
	width: 100%;
	line-height: 64px;
}

nav li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 64px;
}

section {
	display: none;
	width: 100%;
	padding-top: 84px;
}

main h2 {
	margin-left: 84px;
}

main nav li a {
	padding-left: 84px;
	padding-top: 11px;
	line-height: normal;
}

main h2 a span,
.breadcrumb a span,
main nav li a span {
	display: block;
	font-weight: normal;
}

main nav li a span {
	padding-bottom: 6px;
}

.breadcrumb a span,
main h2 span {
	padding-top: 6px;
}

[role=toolbar] {
	position: fixed;
	right: 0;
	top: 0;
	height: 84px;
	float: left;
	z-index: 1000;
}

[role=toolbar] button {
	height: 84px;
	width: auto;
	float: left;
}

footer {
	clear: both;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}








/**
  * COMPACT
  */
  
.breadcrumb {
	position: fixed;
	top: 0;
	right: 0;
	left: 84px;
	min-height: 84px;
	width: auto;
}  

.breadcrumb a,
main h2 a {
	position: relative;
	display: block;
	height: 84px;
	padding-left: 62px;
	width: auto;
	line-height: 16pt;
}

.breadcrumb li {
	float: left;
	width: auto;
}

header.compact {
	position: fixed;
	top: 0;
	left: 0;
	width: 84px;
	height: 84px;
	overflow: visible;
	z-index: 100;
}

header.compact h1 a:after,
.breadcrumb a:after,
main h2 a:after {
	content: "";
	position: absolute;
	z-index: 100;
	right: -42px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 42px 0 42px 42px;
}








/**
  * FORMS
  */

form {
	float: left;
	clear: both;
	width: 100%;
}

button.search,
a.create {
	display: block;
	width: 58px;
	height: 58px;
	top: -79px;
	position: relative;
	float: right;
	margin-right: 1px;
	margin-bottom: -79px;
	padding: 17px;
}

.two-cols button.search {
	margin-right: 21px;
}

button.search svg,
a.create svg {
	width: 24px;
	height: 24px;
}

form label,
form label span {
	display: block;
}

form label {
	clear: both;
}

div[role=group],
form input {
	clear: both;
}

div[role=group] {
	float: left;
	width: 100%;
	position: relative;
}

div[role=group] label {
	clear: none;
	float: left;
	width: 33.33%;
	margin-right: 20px;
}

div[role=group] label span {
	line-height: 24px;
	display: inline;
	vertical-align: top;
	margin: 0;
}

form input[type=text],
form input[type=password] {
	width: 100%;
	height: 60px;
}

form input[type=checkbox] {
	width: 24px;
	height: 24px;
	margin-right: 6px;
}

select,
form input[type=date],
form input[type=time] {
	height: 60px;
	min-width: 320px;
}

.hidden {
	opacity: 0.5;
	color: #666;
	line-height: 40px;
}

.hidden i {
	display: inline-block;
	min-width: 222px;
}

.hidden b {
	background-color: #FFF;
	color: #999;
	line-height: 40px;
	display: inline-block;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
}

.two-cols {
	float: left;
	clear: none;
}








/**
  * WINDOWS
  */

.Overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
	display: none;
	z-index: 10000;
}

.Window {
	position: absolute;
	top: 18%;
	left: 9%;
	right: 9%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 12000;
}

.Window section {
	padding: 0;
}

.Window h2 a {
	pointer-events: none;
	display: block;
	background: none;
}

.Window h2 span {
	display: block;
	font-weight: normal;
	padding-top: 6px;
}

.Window div[role=toolbar] {
	position: relative;
	float: right;
}








/**
  * Add  - Layout,  Box, Images
  */
  
.Add {
	float: left;
	width: 100%;
}

.select-subtitle {
	position: absolute;
	top: 47px;
} 

.Add button.add,
.Add button.remove {
	width: 100%;
	display: block;
	line-height: normal;
}

select.header {
	height: 84px;
	padding-left: 16px;
	padding-top: 0;
	padding-bottom: 24px;
	margin-bottom: 0;
	width: 100%;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
}

.select-svg {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

.imageLayout .select-svg {
	right: 286px;
}

.coverLayout h2 {
	margin: 0;
	float: none;
	line-height: normal;
}

.Add button.select {
	position: absolute;
	width: 100%;
	height: 100%;
}

button.select {
	background-size: cover;
}

button.select:after {
	content: "";
	position: absolute;
	width: 64px;
	height: 64px;
	margin-top: -32px;
	margin-left: -32px;
	left: 50%;
	top: 50%;
	border-radius: 64px;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(icons/iconmonstr-plus-2-icon.svg);
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
}

button.remove {
	background-image: url(icons/iconmonstr-x-mark-5-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 76px;
}

.Box button.remove {
	position: absolute;
	top: 84px;
	right: 0;
	width: 200px;
	height: 280px;
}

.Box .platform {
	position: relative;
	width: 400px;
	float: left;
}

.file {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 280px;
	background-image: url(icons/iconmonstr-plus-2-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
}

.file label {
	background-color: transparent;
}

#images .file {
	width: 320px;
	height: 180px;
}

[role=listbox] {
	float: left;
}

[role=option] {
	float: left;
	position: relative;
	width: 320px;
}

[role=option] input {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
}

#images li button.remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background-size: 32px 32px;
	min-height: 48px;
}

[role=option] label {
	width: 320px;
	height: 180px;
	overflow: hidden;
}

[role=option] img {
	display: block;
	width: 100%;
}

[role=option] label span {
	top: 20px;
	left: 52px;
	right: 20px;
	bottom: 60px;
	display: block;
	display: -webkit-box;
	margin: 0 auto;
	line-height: 25px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFF;
	position: absolute;
}

[role=option]:after {	
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: right;
	height: 40px;
	display: block;
	line-height: 40px;
	padding: 0 20px;
	color: #FFF;
	font-weight: bold;
}

[role=option].review:after {
	background-color: #6666CC;
	content: attr(data-type) "";
}

[role=option].news:after {
	background-color: #FF6600;
	content: attr(data-type) "";
}

[role=option].object:after,
[role=option].aside:after {
	content: attr(data-type) "";
}

[role=option].feature:after {
	background-color: #99CC00;
	content: attr(data-type) "";
}

.file input[type=file] {
	font-size: 200pt;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.Content {
	clear: both;
}

.Content .layout {
	position: relative;
	width: 100%;
	float: left;
	background: #FFF;
}

.Content .left {
	position: absolute;
	float: left;
	left: 0;
	width: 17%;
	top: 0;
	bottom: 0;
}

.Content .center {
	margin-left: 17%;
	float: left;
	width: 66%;
	min-height: 320px;
}

.Content .right {
	position: absolute;
	float: left;
	left: 83%;
	width: 17%;
	top: 0;
	bottom: 0;
}








/**
  * IMAGES & COVER
  */
 
.Cover {
	clear: both;
}

.Cover button.select:after,
.z0Layout button.select:after,
.a1Layout button.select:after {
	background-image: url(icons/iconmonstr-picture-icon.svg);
}

.z0Layout {
	position: relative;
	width: 100%;
}

.Cover button.select,
.z0Layout button.select {
	position: relative;
	display: block;
	width: 100%;
}

.Cover button.select img,
.z0Layout button.select img {
	width: 100%;
}

.a1Layout {
	float: none;
	position: relative;
	width: 100%;
	padding: 20px;
	height: 600px;
}

.a1Layout button.select,
.a1Layout p {
	display: block;
	position: absolute;
	float: none;
	width: 320px;
	height: 180px;
}

.a1Layout p {
	width: 15%;
}

.a1Layout p {
	height: auto;
}

.a1Layout button.select:nth-of-type(1) {
	right: 360px;
}

.a1Layout p:nth-of-type(1) {
	right: 700px;
}

.a1Layout button.select:nth-of-type(2) {
	right: 20px;
}

.a1Layout p:nth-of-type(2) {
	left: 680px;
	top: 220px;
}

.a1Layout button.select:nth-of-type(3) {
	left: 20px;
	top: 220px;
	width: 640px;
	height: 360px;
}

.a1Layout p:nth-of-type(3) {
	left: 680px;
	bottom: 20px;
}








/**
  * TEXT EDITOR
  */

.textLayout {
	min-height: 320px;
}

.textLayout > p,
.textLayout > h3,
.textLayout > blockquote {
	padding: 20px;
	line-height: normal;
}

.textLayout p,
.textLayout p * {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	font-style: normal;
	margin: 0;
}

.textLayout strong {
	font-weight: bold;
}

.textLayout em {
	font-style: italic;
}

.textLayout h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	margin: 0;
}

.textLayout blockquote * {
	font-family: 'Poiret One', sans-serif;
	font-size: 24pt;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
}

.cke_editable_inline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(217, 224, 33, 0.7);
	cursor: pointer;
}

.cke_editable_inline:after {
	content: "";
	position: absolute;
	width: 128px;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	border-radius: 64px;
	background-color: #FFF;
	background-image: url(icons/iconmonstr-pencil-10-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
}

.cke_editable_inline:hover:before {
	background-color: rgba(199, 178, 153, 0.7);
}

.cke_editable_inline.cke_focus:before,
.cke_editable_inline.cke_focus:after {
	display: none;
}








/**
  * LOGIN
  */

section#login {
	display: block;
	padding: 0;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	margin-top: 40px;
}

section#login img,
section#login svg {
	display: block;
}

section#login svg path {
	fill: rgba(0, 0, 0, 0.5);
}

section#login form {
	background: rgba(0, 0, 0, 0.5);
}

section#login h2 {
	color: #CCC;
}

section#login label {
	color: #FFF;
}

section#login [role=toolbar] {
	position: relative;
	float: none;
	width: 100%;
	clear: both;
	height: auto;
}

section#login [role=toolbar] button {
	width: 100%;
}

section#login h2 {
	margin-left: 0;
	width: 100%;
}