@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:300,800&subset=latin,cyrillic);

/**
  * FONTS
  */
  
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	line-height: 16pt;
}

h3 {
	font-size: 30pt;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	font-family: 'Poiret One', sans-serif;
}

label {
	font-weight: normal;
}

::-webkit-input-placeholder {
   color: #999;
   font-size: 12pt;
}

:-moz-placeholder {
   color: #999; 
   font-size: 12pt;
}

::-moz-placeholder {
   color: #999;
   font-size: 12pt;
}

:-ms-input-placeholder {  
   color: #999;
   font-size: 12pt;
}

.Box select,
header a span,
h2 a,
nav li a,
button {
	font-size: 20pt;
	font-weight: bold;
}

a,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}








/**
  * HELPERS
  * Out and clip are used to hide accessibility text.
  */
  
.out {
	height: 1px;
	width: 1px;
	position: absolute;
	top: auto;
	left: -10000px;
	overflow: hidden;
}

.clip {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}








/**
  * FOCUS & ACTIVE
  */

form > .create:focus,
form > .create:hover,
.Box .file:focus,
.Box .file:hover,
.Box .file input:focus,
.Box .file input:hover,
.Box select:focus,
.Box select:hover,
button:focus,
button:hover,
button:first-child:focus,
button:first-child:hover,
.Box > button:last-child:focus,
.Box > button:last-child:hover,
header a:focus,
header a:hover,
h2.active a,
h2 a:focus,
h2 a:hover,
nav a:focus,
nav a:hover {
	cursor: pointer;
	background-color: #C7B299;
}

main h2 a:hover:after,
main h2 a:focus:after,
header.compact h1 a:hover:after,
header.compact h1 a:focus:after {
	border-color: transparent transparent transparent #C7B299;
}











/**
  * COLORS
  */

h3 {
	color: #666666;
}

a:focus {
	outline: 2px solid #D9E021;
}

.Box p,
a:focus,
a:hover,
a:visited,
h2 a span {
	color: #D9E021;
}

.Box svg path,
svg path {
	fill: #D9E021;
}

.Box select,
footer,
footer a,
h2 a,
h2 a:focus,
h2 a:hover,
h2 a:visited,
header a,
header a:focus,
header a:hover,
header a:visited,
nav li a,
nav li a:focus,
nav li a:hover,
nav li a:visited {
	color: #FFF;
}

.Box select,
body,
header a,
nav li a {
	background-color: #666666;
}

header.compact h1 a:after,
main h2 a:after {
	border-color: transparent transparent transparent #666666;
}

button {
	background-color: #CCC;
	border: none;
}

form > .create,
.Box .file,
.Box > button:last-child,
button:first-child {
	background-color: #D9E021
}

form {
	background-color: #E6E6E6;
}








/**
  * SPACING
  */

.hidden i,
header svg,
nav svg {
	margin-right: 10px;
}

.hidden b,
form .two-cols select,
form .two-cols input[type=date] {
	margin-right: 20px;
}

.hidden b,
.hidden,
form input[type=text],
header a,
nav li a {
	padding: 10px;
}

.Window,
.Box button,
.Box select,
form,
main h2 a,
div[role=toolbar] button,
footer {
	padding: 20px;
}

main h2 a {
	padding-bottom: 10px;
}

form label span {
	margin-bottom: 10px;
}

div[role=group] label {
	margin-bottom: 0;
}

h3,
.hidden,
.Window h2 span,
.Box .file,
div[role=group],
form input,
form select {
	margin-bottom: 20px;
}

.Box p {
	padding-left: 20px;
} 

h3 {
	margin-top: 40px;
}









/**
  * LAYOUT
  */

*,
header h1,
main h2 {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

main {
	width: 100%;
}

main,
main h2,
section {
	float: left;
}

main h3 {
	float: left;
	clear: both;
	width: 100%;
}

header {
	float: left;
	width: 100%;
}

header nav {
	width: 50%;
	float: left;
}

main nav {
	width: 100%;
	float: left;
}

nav ul {
	width: 100%;
	float: left;
}

header svg,
nav svg {
	width: 64px;
	height: 64px;
}

nav li {
	width: 100%;
	float: left;
	display: block;
}

header svg,
header a,
nav svg,
nav a {
	float: left;
}

header a {
	display: block;
	width: 100%;
	line-height: 64px;
}

nav li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 64px;
}

section {
	display: none;
	width: 100%;
}

main h2 {
	margin-left: 84px;
}

main nav li a {
	padding-left: 84px;
	padding-top: 11px;
	line-height: normal;
}

main h2 a span,
main nav li a span {
	display: block;
	font-weight: normal;
}

main nav li a span {
	padding-bottom: 6px;
}

main h2 span {
	padding-top: 6px;
}

div[role=toolbar] {
	position: absolute;
	right: 0;
	height: 84px;
	float: left;
}

div[role=toolbar] button {
	height: 84px;
	width: auto;
	float: left;
}

footer {
	clear: both;
	text-align: center;
}








/**
  * COMPACT
  */

main h2 a {
	position: relative;
	display: block;
	height: 84px;
	padding-left: 62px;
}

header.compact {
	position: absolute;
	top: 0;
	left: 0;
	width: 84px;
	height: 84px;
	overflow: visible;
	z-index: 100;
}

header.compact nav li a:focus {
	position: absolute;
	top: 84px;
	left: 0;
	width: 100%;
	clip: rect(auto auto auto auto); /* IE6, IE7 */
	clip: rect(auto, auto, auto, auto);
	width: auto;
	height: auto;
	position: relative;
	overflow: visible;
	opacity: 1;
}

header.compact h1 a:after,
main h2 a:after {
	content: "";
	position: absolute;
	z-index: 100;
	right: -42px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 42px 0 42px 42px;
}








/**
  * FORMS
  */

form {
	float: left;
	clear: both;
	width: 100%;
}

form > .create {
	display: block;
	width: 58px;
	height: 58px;
	top: -79px;
	position: relative;
	float: right;
	margin-right: 1px;
	margin-bottom: -79px;
	padding: 17px;
}

form > .create svg {
	width: 24px;
	height: 24px;
}

form label,
form label span {
	display: block;
}

form label {
	clear: both;
}

div[role=group],
form input {
	clear: both;
}

div[role=group] {
	float: left;
	width: 100%;
}

div[role=group] label {
	clear: none;
	float: left;
	width: 30%;
}

form input[type=text] {
	width: 100%;
	height: 60px;
}

select,
form input[type=date],
form input[type=time] {
	height: 60px;
	min-width: 320px;
}

.hidden {
	opacity: 0.5;
	color: #666;
	line-height: 40px;
}

.hidden i {
	display: inline-block;
	min-width: 222px;
}

.hidden b {
	background-color: #FFF;
	color: #999;
	line-height: 40px;
	display: inline-block;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
}

.two-cols {
	float: left;
	clear: none;
}








/**
  * WINDOWS
  */

.Overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
	display: none;
	z-index: 10000;
}

.Window {
	position: absolute;
	top: 20%;
	left: 20%;
	right: 20%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 12000;
}

.Window h2 a {
	pointer-events: none;
	display: block;
	background: none;
}

.Window h2 span {
	display: block;
	font-weight: normal;
	padding-top: 6px;
}

.Window div[role=toolbar] {
	position: relative;
	float: right;
}







/**
  * BOX
  */
  
.Box {
	float: left;
	width: 100%;
}

.Box p {
	position: absolute;
	margin-top: -37px;
} 
  
.Box button {
	width: 100%;
	display: block;
}

.Box button.remove {
	position: absolute;
	top: 84px;
	right: 0;
	width: 200px;
	height: 280px;
	background-image: url(icons/iconmonstr-x-mark-5-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat
}

.Box .platform {
	position: relative;
	width: 400px;
	float: left;
}

.Box select {
	height: 84px;
	padding-left: 16px;
	padding-top: 0;
	padding-bottom: 24px;
	margin-bottom: 0;
	width: 100%;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
}

.Box svg {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

.Box .file {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 280px;
	background-image: url(icons/iconmonstr-plus-2-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
}

.Box input[type=file] {
	font-size: 200pt;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

