/**
 * ADVERTISEMENT
 */

section.piggy-set {
  margin-bottom: 0;

  h2 {
    &:extend(.clip);
  }
  
  [role=complementary] {
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    img {
      width: auto;
      height: auto;
    }
    
    video {
      width: auto;
    }
  }
}

aside.piggy-set {
  display: none;
  position: absolute;
  width: 33.33%;
  right: -33.33%;
  padding: 0 2.08%;

  h2 {
    &:extend(.clip);
  }
  
  [role=complementary] {
    position: relative;
    
    img {
      width: auto;
      height: auto;
    }

    video {
      width: 100%;
    }
  }
}

@media 
only screen and (max-width: 1279px) {
  section.piggy-set {
    [role=complementary] {
      position: relative;
      left: auto;
      transform: none;
      
      img,
      video {
        width: 100%;
      }
    }
  }
  
  aside.piggy-set {
    display: block;
    position: relative;
    width: auto;
    right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    [role=complementary] {
      position: relative;
      left: auto;
      transform: none;
      
      video {
        width: 100%;
      }
    }
  }
}