/**
 * ADVERTISEMENT
 */

.piggy-set {
  margin-bottom: 0;
  
  [role=complementary] {
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    img {
      width: auto;
      height: auto;
    }
  }
}