@charset "utf-8";

/**
  * FONTS
  */
  
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	line-height: 16pt;
}

legend {
	font-size: 16pt;
}








/**
  * LAYOUT
  */
  
* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	vertical-align: top;
	position: relative;
}







/**
  * FORMS
  */
  
fieldset {
	width: 60%;
	border: 0;
	padding: 2%;
	display: block;
}

legend {
	display: block;
	width: 100%;
	margin-bottom: 2%;
	float: left;
}

label,
div[role=group] {
	display: block;
	margin-bottom: 1%;
}

label span,
div[role=group] > span {
	display: block;
	min-width: 100px;
	margin-bottom: 0.2%;
}

input[type=text],
input[type=date],
input[type=time],
select {
	height: 40px;
}

div[role=group] label {
	width: 40%;
}

div[role=group] label,
div[role=group] label span {
	display: inline-block;
}

