/**
 * VARIABLES, IMPORTS & MISC
 */
  
@charset "utf-8";

/**
 * SCREEN
 * 1366x768  	generic notebook
 * 1280x720 	hd 720p
 * 1920x1080 	full hd 1080p
 * 3840x2160 	ultra hd 4k
 * 1680x1050	generic 16:10 display
 * 1600x1200	generic 4:3 display
 * 1440x900		macbook pro 16:10
 */

#createMedia(1280, 720, 0);
#createMedia(1280, 960, 721);
#createMedia(1280, 1024, 961);

#createMedia(1366, 768, 0);
#createMedia(1366, 1025, 769);

#createMedia(1440, 810, 0);
#createMedia(1440, 900, 811);
#createMedia(1440, 1080, 901);

#createMedia(1600, 900, 0);
#createMedia(1600, 1200, 901);
#createMedia(1680, 1050, 0);

#createMedia(1920, 1080, 0);
#createMedia(1920, 1440, 1081);

/**
 * Browser zoom to 50%;
 */
 
#createMedia(2560, 1440, 0);
#createMedia(2560, 1920, 1441);

#createMedia(3200, 1800, 0);
#createMedia(3200, 2400, 1801);

#createMedia(3840, 2160, 0);
#createMedia(3840, 2880, 2161);








/**
 * FONTS
 */
 
@media
only screen and (max-width: 1680px) {
	/**
	 * Title for covers and main video.
	 */
	
	#covers article h3 a,
	#covers article h3 a strong,
	section.cover h1 strong,
	.video-set article:nth-of-type(3) h3 a,
	.video-set article:nth-of-type(3) h3 a strong,
	.static .read-set .layout:first-of-type h1 strong,
	#topReviews.article-set article:nth-of-type(2) h3 * {
		font-size: 30pt;
	}
	
	.video-set h3 span:nth-child(3) {
		display: none;
	}
	
	.video-set article:nth-of-type(3) h3 span:nth-child(3) {
		display: block;
	}
}

@media
only screen and (max-width: 1440px) {
	/**
	 * Title for covers and main video.
	 */
	
	#covers h3 a,
	#covers h3 a strong,
	section.cover h1 strong,
	.video-set article:nth-of-type(3) h3 a,
	.video-set article:nth-of-type(3) h3 a strong,
	.static .read-set .layout:first-of-type h1 strong,
	#topReviews.article-set article:nth-of-type(2) h3 * {
		font-size: 24pt;
	}
	
	/**
	 * Raad font size for text and tracklist.
	 * Title and subtitle for portal articles and video.
	 */
	
	.inside *,
	.layout .center-col *,
	.layout ol *,
	.video-set h3 a,
	.video-set h3 a strong,
	.video-set h3 span:nth-of-type(2),
	.inline-col aside h3,
	.article-set h3 a,
	.article-set h3 a strong,
	.article-set h3 span:nth-of-type(2) {
		font-size: 12pt;
	}
	
	/**
	 * Cover subtitle and read headings.
	 */
	
	.inside h3,
	.inside h3 *,
	.layout .center-col h3,
	.layout .center-col h3 *,
	#covers h3 span:nth-of-type(2),
	section.cover h1 span:nth-of-type(2),
	.video-set article:nth-of-type(3) h3 span:nth-of-type(2),
	.static .read-set .layout:first-of-type h1 span:nth-of-type(2) {
		font-size: 14pt;
	}
	
	/**
	 * Author text.
	 */
	
	section.cover > p * {
		font-size: 14pt;
	}
	
	.inside.i1 .bottom > p:first-of-type * {
		font-size: 14pt;
	}
	
	.inside.i1 .top > p:first-of-type ,
	.inside.i1 .bottom > p:first-of-type {
		top: -6px;
	}
	
	/**
	 * Read styles for first letter, hype and aside.
	 */

	.layout.inside blockquote *,
	.layout .center-col blockquote * {
		font-size: 20pt;
	}
	
	#read .cover li:nth-child(1) p strong,
	.layout .center-col .hype strong {
		font-size: 14pt;
	}
	
	header.read .nav-set .special {
		right: 0;
		width: 32px;
		height: 32px;
		margin: 1.25%;
		background-size: 32px 32px;
	}
	
	header.read .nav-set .special button {
		background-size: 32px 32px;
	}
}
  