@charset "utf-8";

#createMedia (@screen) {
	header,
	main.fixed section.covers {
 		height: (7.5*@screen)/100px;
	}
	
	header *,
	body.p .p.logo,
	body.l .l.logo {
		height: (5*@screen)/100px;
	}
	
	.box,
	.c3 .sticker,
	.covers article:hover .sticker {
		width: (5*@screen)/100px;
		height: (5*@screen)/100px;
	}
	
	.hype {
		line-height: (5*@screen)/100px;
	}
	
	.hype,
	.better,
	.worse,
	.equal,
	.stickers,
	nav.menu div.menu {
		top: (7.5*@screen)/100px;
	}
	
	.sticker {
		width: (2.5*@screen)/100px;
		height: (2.5*@screen)/100px;
	}
	
	.articles .img:before,
	.covers .type {
		width: (5*@screen)/100px;
		height: (2.5*@screen)/100px;
		line-height: (2.5*@screen)/100px !important;
	}
	
	blockquote {
		min-height: (5*@screen)/100px;
	}
	
	.box.worse:hover,
	.box.equal:hover,
	.box.better:hover {
		text-indent: 0;
		padding-left: (6.25*@screen)/100px;
	}
	
	.equal,
	.worse {
		margin-top: (6.25*@screen)/100px;
	}
}

#createTheme (@theme, @color) {	
    body.@{theme} #forPlay path { 
		fill: @color; 
	}
	
	body.@{theme} .layout blockquote,
	body.@{theme} .article-set p:nth-of-type(1) a,
	body.@{theme} .layout:first-of-type .center > p:first-of-type:first-letter {
		color: @color;
	}
}

