<?xml version="1.0" encoding="utf-8"?>
<article>
    <site>{{:site}}</site>
    <url>{{:url}}</url>{{if video}}
    <video>
    	<tech>{{:video.tech}}</tech>
    	<url>{{:video.url}}</url>
    </video>{{/if}}{{if audio}}
    <audio>
    	<tech>{{:audio.tech}}</tech>
        <frame>{{:audio.frame}}</frame>
        <url>{{:audio.url}}</url>
    </audio>{{/if}}
    <tags prime="{{:prime}}">{{for tags.split(',')}}
        <tag>{{:#data}}</tag>{{/for}}
    </tags>
    <cover align="{{:bgH}}" 
    	   valign="{{:bgV}}"
       	   theme="{{:theme}}" 
           subtheme="{{:subtheme}}">{{:cover}}</cover>
    <main main320="{{:main320}}" 
          main640="{{:main640}}">{{:main}}</main>
    <type bg="{{:type.bg}}">{{:type.tag}}</type>
    <subtype bg="{{:subtype.bg}}">{{:subtype.tag}}</subtype>
    <title>
        <![CDATA[{{:title}}]]>
    </title>
    <subtitle>
        <![CDATA[{{:subtitle}}]]>
    </subtitle>
    <authors>{{for authors.split(',')}}
        <author>{{:#data}}</author>{{/for}}
    </authors>
    <date>{{:date}}</date>
    <priority>{{:priority}}</priority>
    <issue>{{:issue}}</issue>{{if subtype.tag == 'review'}}
    <hype>{{:hype}}</hype>
    <versionTested>{{:versionTested}}</versionTested>
    <better tag="{{:better.value}}">{{:better.text}}</better>
    <worse tag="{{:worse.value}}">{{:worse.text}}</worse>
    <equal tag="{{:equal.value}}">{{:equal.text}}</equal>{{/if}}
    <preview>{{:preview}}</preview>{{if stickers}}
    <stickers>{{for stickers}}
    	<sticker lib="{{:#data.lib}}">{{:#data.text}}</sticker>{{/for}}
    </stickers>{{/if}}
    <layouts>{{for layouts}}
{{if type == 'text' ~tag=#view.parent.parent.data.prime tmpl="textLayout" /}}{{/for}}
    </layouts>
</article>