<?xml version="1.0" encoding="utf-8"?>
<article align="{{:bgH}}" valign="{{:bgV}}"
       theme="{{:theme}}" subtheme="{{:subtheme}}">
    <site>{{:site}}</site>
    <url>{{:url}}</url>{{if video}}
    <video>
    	<tech>{{:video.tech}}</tech>
    	<url>{{:video.url}}</url>
    </video>{{/if}}{{if audio}}
    <audio>
    	<tech>{{:audio.tech}}</tech>
        <frame>{{:audio.frame}}</frame>
        <url>{{:audio.url}}</url>
    </audio>{{/if}}
    <tags prime="{{:prime}}">{{for tags.split(',')}}
        <tag>{{:#data}}</tag>{{/for}}
    </tags>
    <cover>{{:cover}}</cover>
    <main main320="{{:main320}}" 
          main640="{{:main640}}">{{:main}}</main>
    <type bg="{{:type.bg}}">{{:type.tag}}</type>
    <subtype bg="{{:subtype.bg}}">{{:subtype.tag}}</type>
    <title>
        <![CDATA[{{:title}}]]>
    </title>
    <subtitle>
        <![CDATA[{{:subtitle}}]]>
    </subtitle>
    <authors>{{for authors.split(',')}}
        <author>{{:#data}}</author>{{/for}}
    </authors>
    <date>{{:date}}</date>
    <issue>{{:issue}}</issue>{{if subtype.tag == 'review'}}
    <hype>{{:hype}}</hype>
    <versionTested>{{:versionTested}}</versionTested>
    <better tag="{{:better}}">{{:better}}</better>
    <worse tag="{{:worse}}">{{:worse}}</worse>
    <equal tag="{{:equal}}">{{:equal}}</equal>{{/if}}
</article>
