<?xml version="1.0" encoding="utf-8"?>
<layout type="{{:type}}" subtype="{{:subtype}}"
		tag="{{:tag}}" order="{{:order}}">
    <left>
        <url type="game">gta-5</url>
        <url type="feature">grand-theft-auto-v-сатирично-менгеме-вече-и-в-1080p</url>
    </left>
    <right>
        <url type="review">gta-5</url>
        <url type="caret">who-is-sam-houser</url>
    </right>
    <center>{{if type == 'article-set'}}
        <article></article>
        <article></article>
        <article></article>
        <article></article>{{/if}}{{if type == 'img-set'}}
        <img></img>
        <img></img>
        <img></img>{{/if}}{{if type == 'cover-set'}}
        <cover></cover>
        <cover></cover>
        <cover></cover>
        <cover></cover>
        <cover></cover>{{/if}}{{if type == 'layout-set'}}
        <![CDATA[<p>Натиснете тук, за да редактирате текста, използвайки само параграфи, <strong>болд</strong>, <em>италик</em> и <a href="#" target="_blank">връзки</a>. Този едитор поддържа и стандартни функции, като копи, пейст, ънду и реду.</p><blockquote><p>За да оградите параграф, като цитат, използвайте бутона с кавичките.</p></blockquote><h3>Може да използвате и хединг 3</h3><p>За да редактирата съдържанието директно в HTML използвайте бутона <em>Source</em>.</p>]]>{{/if}}
    </center>
</layout>
