<article class="{{:type}} {{:subtype}} {{:priority}}"
		 data-theme="{{:cover.theme}} {{:cover.subtheme}}"
         data-priority="{{:priority}}"
         data-subtype="{{:subtype}}"
         data-url="{{:url}}"
         style="background-position: {{:cover.align}} {{:cover.valign}}">
    <div class="img-proxy" 
    	 data-subtype="{{:subtype.bg}}"> <a href="?{{:subtype}}={{:url}}"{{if video}} 
         data-video="{{:video.url}}"
         data-tech="{{:video.tech}}"{{/if}}> <img 
         data-tag="{{:tags.prime}}"
         data-cover="{{:cover.tag}}-{{:cover}}"
         data-main="{{:main.shot.tag}}-{{:main.shot}}"
         data-caret="{{:main.caret.tag}}-{{:main.caret}}"
         data-proxy="true"
         data-ratio="16-9"
         src="assets/helpers/16-9.png"
         alt="{{:title}}" /> </a> </div>
    <h3> <a href="?{{:subtype}}={{:url}}">{{:title}}</a> <span
    									 >{{:subtype.bg}}</span> <span
                                         >{{:subtitle}}</span> </h3>
    <p>От {{for authors.author}}<a href="?portal={{:#data}}">{{:#data}}</a>
    	  		{{if #index < #parent.data.length - 2}}, 
    			{{else #index == #parent.data.length - 2}} и {{/if}}{{/for}}</p>
    <p>{{:preview}}</p>{{if stickers}}
    <ul>{{for stickers.sticker}}
        <li><img class="svg" 
        		 src="assets/icons/{{:#data.lib}}/{{:#data.subtype}}/svg/000000/transparent/{{:#data}}.svg" 
            	 alt="{{:#data}}" /></li>{{/for}}
    </ul>{{/if}}
</article>
