<article class="{{:type}} {{:subtype}} {{:priority}}"
		 data-theme="{{:theme}} {{:subtheme}}"
         data-priority="{{:priority}}"
         data-subtype="{{:~translate(subtype)}}"
         data-url="{{:url}}"
         style="background-position: {{:cover_align}} {{:cover_valign}}">
    <div class="img-proxy" 
    	 data-subtype="{{:~translate(subtype)}}"> <a 
         href="/articles/{{:type}}/{{:subtype}}/{{:article_id}}/{{:url}}"{{if video_url}} 
         data-video="{{:video_url}}"
         data-tech="{{:video_tech}}"{{/if}}> <img
         data-cover="{{:cover_img}}"
         data-main="{{:shot_img}}"
         data-caret="{{:caret_img}}"
         data-proxy="true"
         data-ratio="16-9"
         src="/assets/helpers/16-9.png"
         alt="{{:~unescape(title)}}" /> </a> </div>
    <h3> <a href="/articles/{{:type}}/{{:subtype}}/{{:article_id}}/{{:url}}"
    		target="_top">{{:~unescape(title)}}</a> <span
            			 >{{:~translate(subtype)}}</span> <span
            			 >{{:~unescape(subtitle)}}</span> </h3>
    <p>От {{for authors}}<a href="/portals/author/{{:#data.author_id}}/{{:#data.tag}}">{{:#data.en_name}}</a>
    	  		{{if #index < #parent.data.length - 2}}, 
    			{{else #index == #parent.data.length - 2}} и {{/if}}{{/for}}</p>
    <p>{{:~unescape(preview)}}</p>{{if stickers}}
    <ul>{{for stickers}}
        <li><img class="svg" 
        		 src="/assets/icons/{{:#data.lib}}/{{:#data.subtype}}/svg/000000/transparent/{{:#data.tag}}.svg" 
            	 alt="{{:#data}}" /></li>{{/for}}
    </ul>{{/if}}
</article>
