<section class="cover {{:type}} {{:subtype}}"
		 data-theme="{{:cover.theme}} {{:cover.subtheme}}"
         data-main="{{:main.wide.tag}}-{{:main.wide}}"
         data-tag="{{:tags.prime}}"
         style="background-position: {{:cover.align}} {{:cover.valign}}">
    <h3> <strong>{{:title}}</strong> <span
  			  	>{{:subtype.bg}}</span> <span
              	>{{:subtitle}}</span> </h3>
    <p>От {{for authors.author}}<a href="?portal={{:#data}}">{{:#data}}</a>
    	  		{{if #index < #parent.data.length - 2}}, 
    			{{else #index == #parent.data.length - 2}} и {{/if}}{{/for}}</p>
	
{{if subtype == 'review' }}
    <ul>
    	<li>
        	<p><span>Оценка </span><strong>{{:hype}}</strong></p>
        </li>{{if type == 'games' || type == 'movies' }}
        <li>
        	<p style="background-image: url(assets/bwe/{{:better.tag}}.jpg)" 
               class="better"><span>По-добре от </span><strong>{{:better}}</strong></p>
        </li>{{if !equal.length}}
        <li>
        	<p style="background-image: url(assets/bwe/{{:worse.tag}}.jpg)" 
               class="worse"><span>По-зле от </span><strong>{{:worse}}</strong></p>
        </li>{{/if}}{{if equal.length}}
        <li>
        	<p style="background-image: url(assets/bwe/{{:equal.tag}}.jpg)" 
               class="equal"><span>На нивото на </span><strong>{{:equal}}</strong></p>
        </li>{{/if}}{{/if}}
    </ul>
{{/if}}
    
</section>
