<article class="cover c{{:playOrder}} huge {{:bgPosition}} {{:subtype}} {{:side}}"
    	 data-proxy="true"
     	 data-count="{{:count}}"
     	 data-tag="{{:tags.tag[0]}}"	
         data-color="{{:color}}"
         data-type="{{:subtype}}"
         data-url="{{:url}}"
         data-order="{{:playOrder}}">
         
    <div class="title {{if playOrder != 3}} clip{{/if}}">
        <h2><a href="?{{:subtype}}={{:url}}">{{:title}} <span class="type">{{:subtype.bg}}</span></a></h2>
        <p class="subtitle">{{:subtitle}}</p>
    </div>
    <aside>
    	{{if author}}
        	<p class="author"><span class="clip">Автор </span>{{:author}}</p>
       	{{/if}}
        
        {{if hype}}
            <p class="hype box"><span class="clip">Оценка </span>{{:hype}}</p>
        {{/if}}
            
        {{if better}}
            <p class="better box {{if playOrder != 3}} clip{{/if}}" 
                  style="background-image: url(assets/bw/{{:better.tag}}.jpg);">По-добре от <strong>{{:better}}</strong></p>
        {{/if}}
        {{if worse}}
            <p class="worse box {{if playOrder != 3}} clip{{/if}}" 
                  style="background-image: url(assets/bw/{{:worse.tag}}.jpg);">По-зле от <strong>{{:worse}}</strong></p>
        {{/if}}
        {{if equal}}
            <p class="equal box {{if playOrder != 3}} clip{{/if}}" 
                  style="background-image: url(assets/bw/{{:equal.tag}}.jpg);">На нивото на <strong>{{:equal}}</strong></p>
        {{/if}}    
        
        {{if stickers}}
            <div class="stickers">      
                {{for stickers.sticker}}
                    <div class="sticker sticker-{{:#data}}"><!--sticker--></div>
                {{/for}}
            </div>
        {{/if}}
        
        <div class="social">
        	<div class="sticker sticker-google-plus"><!--sticker--></div>
            <div class="sticker sticker-facebook"><!--sticker--></div>
            <div class="sticker sticker-twitter"><!--sticker--></div>	
        </div>
    </aside>
    
    {{if advert}}
    	<img src="assets/articles/advert/{{:advert.tag}}.png" 
             alt="{{:advert.tag}}" class="advert {{:advert.tag}}" />
    {{/if}}
</article>
<div class="thumbnail-cover c{{:playOrder}} {{:side}}"
     data-proxy="true"
     data-count="{{:count}}"
     data-tag="{{:tags.tag[0]}}"
     data-color="{{:color}}"
     data-order="{{:playOrder}}"><!--thumbnail--></div>
	