{{if subtype == 'news' || subtype == 'video'}}

<header class="cover {{:type}} {{:subtype}}"
		data-theme="{{:theme}} {{:subtheme}}"
        data-main="{{:wide_img}}"
        data-tag="{{:prime.tag}}"
        style="background-position: {{:cover_align}} {{:cover_valign}}"> 
</header>

<div class="layout {{:type}} {{:subtype}}">
    <div class="img-proxy {{if video_url}}Player{{/if}}"{{if video_url}}
    	 id="player_{{:article_id}}"{{/if}}>
        
        <div class="img"><a href="{{if video_url}}{{:video_url}}{{/if}}"{{if video_url}} 
                            data-video="{{:video_url}}"
                            data-player="{{:article_id}}"
                            data-tech="{{:video_tech}}"{{/if}}> <img 
                            data-tag="{{:prime.tag}}"
                            data-proxy="true"
                            data-main="{{:wide_img}}"
                            data-ratio="16-9"
                            src="/assets/helpers/16-9.png"
                            alt="{{:~unescape(title)}}" /> </a></div>
	</div>
    
{{if audio_url}}
    <div class="audio-proxy">
    	<iframe width="100%" height="180" src="{{:audio_frame}}" frameborder="0"></iframe>
    </div>    
{{/if}}    
    
    <h1> <strong>{{:~unescape(title)}}</strong> <span
  			  	>{{:~translate(subtype)}}</span> <span
              	>{{:~unescape(subtitle)}}</span> </h1>
    <p>{{:~translate(subtype)}} от {{for authors}}<a href="/portals/author/{{:#data.author_id}}/{{:#data.tag}}">{{:#data.en_name}}</a>
    	  		{{if #index < #parent.data.length - 2}}, 
    			{{else #index == #parent.data.length - 2}} и {{/if}}{{/for}}</p>
  
{{if subtype == 'video' && type != 'books' && (better || worse || hype)}}
    <ul>{{if hype}}
    	<li>
        	<p><span>Оценка </span><strong>{{:~hypeToString(hype)}}</strong></p>
        </li>{{/if}}{{if (type == 'games' || type == 'movies') && (better || worse)}}{{if better}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:better[0].tag}}.{{:better[0].img}})" 
               class="better"><span>По-добре от </span><strong>{{:better_text || better[0].en_name}}</strong></p>
        </li>{{/if}}{{if equal}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:equal[0].tag}}.{{:equal[0].img}})" 
               class="equal"><span>На нивото на </span><strong>{{:equal_text || equal[0].en_name}}</strong></p>
        </li>{{/if}}{{if worse}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:worse[0].tag}}.{{:worse[0].img}})" 
               class="worse"><span>По-зле от </span><strong>{{:worse_text || worse[0].en_name}}</strong></p>
        </li>{{/if}}{{/if}}
    </ul>
{{/if}}                
</div>

{{else}}

<header class="cover {{:type}} {{:subtype}}"
        data-theme="{{:theme}} {{:subtheme}}"
        data-main="{{:wide_img}}"
        data-tag="{{:prime.tag}}"
        style="background-position: {{:cover_align}} {{:cover_valign}}">
    <h1> <strong>{{:~unescape(title)}}</strong> <span
  			  	>{{:~translate(subtype)}}</span> <span
              	>{{:~unescape(subtitle)}}</span> </h1>
    <p>{{:~translate(subtype)}} от {{for authors}}<a href="/portals/author/{{:#data.author_id}}/{{:#data.tag}}">{{:#data.en_name}}</a>
    	  		{{if #index < #parent.data.length - 2}}, 
    			{{else #index == #parent.data.length - 2}} и {{/if}}{{/for}}</p>
	
{{if subtype == 'review' && type != 'books'}}
    <ul>{{if hype}}
    	<li>
        	<p><span>Оценка </span><strong>{{:~hypeToString(hype)}}</strong></p>
        </li>{{/if}}{{if (type == 'games' || type == 'movies') && (better || worse)}}{{if better}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:better[0].tag}}.{{:better[0].img}})" 
               class="better"><span>По-добре от </span><strong>{{:better_text || better[0].en_name}}</strong></p>
        </li>{{/if}}{{if equal}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:equal[0].tag}}.{{:equal[0].img}})" 
               class="equal"><span>На нивото на </span><strong>{{:equal_text || equal[0].en_name}}</strong></p>
        </li>{{/if}}{{if worse}}
        <li>
        	<p style="background-image: url(/assets/tags/{{:worse[0].tag}}.{{:worse[0].img}})" 
               class="worse"><span>По-зле от </span><strong>{{:worse_text || worse[0].en_name}}</strong></p>
        </li>{{/if}}{{/if}}
    </ul>
{{/if}} 
</header>

{{/if}}
