<div class="layout {{:type}} {{:subtype}} {{if ratio}}r{{:ratio}}{{/if}}">
 
{{if left}}
    <div data-url="{{:left}}"
         data-object="{{:left_object}}"
         data-box="{{:#parent.data.platform}}" 
         class="inline-col left-col {{:left_valign}}"></div>
{{/if}}

{{:tracklist}}

{{if type == 'img' || type == 'inside'}} {{for imgs}}
    <div class="img-proxy {{if video}}Player{{/if}}"{{if video}}
    	 id="player_{{:articleid}}{{:layoutid}}{{:#index}}"{{/if}}>
    
    {{if #data.tracklist}}
        <div data-tag="{{:#data.tracklist}}" 
        	 class="tracklist {{:#data.align}} {{:#data.valign}}"></div>
    {{else #data.center}}
    	<div class="{{:#data.valign}}">
        	<p>{{if #data.author}}От <a href="#">
            {{:#data.author}}</a>{{/if}}</p>
            {{:#data.center}}
        </div>
    {{else #data.alt.length > 0}}
        <p><strong>{{:#data.pointer}}</strong> {{:#data.alt}}</p>
    {{/if}}
        <div class="img {{if #parent.data.subtype == 'i4'}}{{:#data.center.valign}}{{/if}}"><a 
        					href="{{if video}}{{:video.url}}{{/if}}"{{if video}} 
                            data-video="{{:video}}"
                            data-player="{{:articleid}}{{:layoutid}}{{:#index}}"
                            data-tech="youtube"{{/if}}> <img 
                            data-tag="{{:#data.tag}}"
                            data-proxy="true"
                            data-main="{{:#data.tag}}-{{:#data.index}}"
                            data-ratio="{{if ratio}}{{:ratio}}{{else}}16-9{{/if}}"
                            src="/assets/helpers/{{if ratio}}{{:ratio}}{{else}}16-9{{/if}}.png"
                            alt="{{:#data.alt}}" /> </a></div>
	</div>
{{/for}} {{else}}
    <div class="center-col"> {{:~unescape(center)}} </div>
{{/if}}

{{if right}}
    <div data-url="{{:right}}"
         data-object="{{:right_object}}"
         class="inline-col right-col {{:right_valign}}"></div>
{{/if}} 
</div>
